.main {
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainForm {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.formError {
    color: #ffc3c3;
    font-weight: 700;
    display: flex;
    align-items: center;
}